USE [master]
GO
/****** Object:  Database [Cfi]    Script Date: 2020/11/30 下午 09:07:48 ******/
CREATE DATABASE [Cfi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cfi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Cfi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cfi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Cfi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cfi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cfi]
GO
/****** Object:  Table [dbo].[code_company]    Script Date: 2020/11/30 下午 09:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_company](
	[code] [int] NULL,
	[company] [nvarchar](225) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[code_price]    Script Date: 2020/11/30 下午 09:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_price](
	[code] [int] NULL,
	[price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2020/11/30 下午 09:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[ID] [int] NOT NULL,
	[name] [nchar](10) NOT NULL,
	[account] [nchar](10) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[assets] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Share]    Script Date: 2020/11/30 下午 09:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[code] [int] NULL,
	[company] [nvarchar](225) NULL,
	[price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Share_Order]    Script Date: 2020/11/30 下午 09:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share_Order](
	[account] [nchar](10) NOT NULL,
	[company] [nchar](10) NOT NULL,
	[code] [int] NOT NULL,
	[action] [nchar](10) NOT NULL,
	[price] [money] NOT NULL,
	[limit_price] [money] NOT NULL,
	[quantity] [int] NOT NULL,
	[average_price] [money] NOT NULL,
	[datetime] [datetime] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
